<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Title -->
<title>{{ if .IsHome }}{{else}}{{ if .Title }}{{ .Title }} - {{ end }}{{end}}{{ .Site.Title }}</title>
<!-- Meta -->
{{- if in site.Params.mainSections .Type }}
<meta name="description" content="{{ .Summary }}">
{{- else }}
<meta name="description"
    content="{{if .IsHome}}{{ .Site.Params.description }}{{else}}{{ .Title }} - {{ .Site.Title }}{{end}}">
{{- end }}
<meta name="author" content="{{ .Params.author | default .Site.Params.author }}">
<link rel="canonical" href="{{ .Permalink }}" />
{{- if .Site.Params.analytics.google.SiteVerificationTag }}
<meta name="google-site-verification" content="{{ .Site.Params.analytics.google.SiteVerificationTag }}" />
{{- end}}
<!-- Styles -->
{{- $anoldhope := resources.Get "css/an-old-hope.min.css" | minify }}
{{- $theme := resources.Get "css/theme-vars.css" | minify }}
{{- $reset := resources.Get "css/reset.css" | minify }}
{{- $header := resources.Get "css/header.css" | minify }}
{{- $main := resources.Get "css/main.css" | minify }}
{{- $postentry := resources.Get "css/post-entry.css" | minify }}
{{- $postsingle := resources.Get "css/post-single.css" | minify }}
{{- $terms := resources.Get "css/terms.css" | minify }}
{{- $archive := resources.Get "css/archive.css" | minify }}
{{- $footer := resources.Get "css/footer.css" | minify }}
{{- $404 := resources.Get "css/404.css" | minify }}
{{- $style := slice $theme $reset $header $main $postentry $postsingle $terms $archive $footer $404 | resources.Concat "stylesheet.css" | minify }}
{{- $stylesheet := slice $anoldhope $style | resources.Concat "css/stylesheet.css" | minify | fingerprint }}
<link href="{{ $stylesheet.Permalink }}" integrity="{{ $stylesheet.Data.Integrity }}" rel="preload stylesheet"
    as="style">
{{- if (and (.Site.Params.profileMode.enabled) (.IsHome)) }}
{{- $profileMode := resources.Get "css/profileMode.css" | minify | fingerprint }}
<link href="{{ $profileMode.Permalink }}" integrity="{{ $profileMode.Data.Integrity }}" rel="preload stylesheet"
    as="style">
{{- end }}
<!-- Favicons -->
<link rel="apple-touch-icon" href="{{ "apple-touch-icon.png" | absURL }}">
<link rel="icon" href="{{ "favicon.ico" | absURL }}">
<!-- Generator -->
{{- hugo.Generator }}
<!-- RSS -->
{{- range .AlternativeOutputFormats -}}
{{- printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{- end -}}
<!-- Misc -->
{{- if eq (getenv "HUGO_ENV") "production" | or (eq .Site.Params.env "production") }}
{{- template "_internal/google_analytics_async.html" . }}
{{- template "_internal/opengraph.html" . }}
{{- template "_internal/twitter_cards.html" . }}
{{- template "_internal/schema.html" . }}
{{- end }}

{{- if or .Params.math .Site.Params.math }}
{{ partial "math.html" . }}
{{- end }}
