
<!-- <div>
  <a href="path-to-the-image">
    <figure>
      <img src="https://dummyimage.com/300x200/000/fff" alt="">
    </figure>
  </a>
  <a href="path-to-the-image">
    <figure>
      <img src="https://dummyimage.com/300x200/cc25cc/fff" alt="">
    </figure>
  </a>

</div> -->

<style>
  :root {
      --main-width: calc(var(--nav-width) + var(--gap) * 2);
    }

  div.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  article.post-entry {
    position: relative;
    padding: unset;
    margin-bottom: unset;
    margin: 5px;

    background: unset;
    border-radius: unset;

  }

  .post-entry .image-mask {
    width: 300px;
    height: 200px;
    overflow: hidden;
  }

  .post-entry .image {
    transition: all 0.25s ease;
  }

  .post-entry:hover .image {
      opacity: 0.2;
  }

  .post-entry .image {
    transition: all 0.25s ease;
  }

  .post-entry .text {
    opacity: 0;
    color: var(--primary);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    width: 250px;
  }

  .post-entry:hover .text {
    opacity: 1;
  }
</style>



{{- $pages := .RegularPages }}

{{- if .IsHome }}
{{- $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}
{{- end}}

<div class="projects">

  {{- range $page := $pages}}
  <article class="post-entry">
    <div class="image-mask">
      <img class="image" src="{{ .Params.thumbnail | absURL }}" alt="cover image for {{ .Title }}">
    </div>
    <div class="text">{{ .Title }}</div>
    <a class="entry-link" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
  </article>
  {{- end }}

</div>
